/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11 nov. 2021, 11:44:58
    Author     : daw1
*/
body{
    text-align: center;
    background-color: beige;
}
h1, h2{
    background-color: cyan;
    font-family: Arial;
}
