/* 
    Created on : 
    Author     : Amor Rodríguez <amor at marodriguezn@educa.jcyl.es>
   
*/
body{
    margin: 20px 40px;
    font-family: Calibri, Arial, sans-serif;
    width: 1024px;
    background-image: url(../images/fondo.png);
    background-repeat: no-repeat;
    background-position: right top;
}
h1{
    background-color:#FF9100;
    color:#FF0000;
    font-size: 40px;
    padding: 10px ;
    margin-bottom: 10px; 
    font-variant: small-caps; 
}

.par1{
    background-color: #50DBCD;
    color: #008A33;
    font-weight: 600;
    padding: 4px;
    margin: 10px;
}
/*1.*/
.static{
    position: static;
    border: solid 3px #FFB300;
}

/*2.*/
.relative{
    border: dotted 3px #C230FF ;
    position: relative;
    left: 10%
}

/*3.*/
.fixed{
    border: dashed 3px #1ECA1E ; 
    position: fixed;
    top: 80%;
    left: 80%;
     width: 200px;
     height: 100px;
}

/*4.*/
.relative1 {
    border: groove 3px #005700 ;
     height: 100px;
}
.absolute1{
    position: relative;
    left: 69.9%;
    top: 27%;
    border: solid 3px #79FF79;
    height: 50px;
    width: 300px;
}

/*5.*/
.sticky{
    position: -webkit-sticky;
    position: sticky;
    border-radius: 25px;
    background-color: green ;
    border: solid 3px greenyellow;
    padding: 10px;
    color: #79FF79;
    font-size: 30px;
    text-align: center;
    top: 20px;
}

/*6.*/
.img1{
    position: relative;
    height: 100px;
    width: 100px;
    z-index: -1;
    filter: opacity(50%);
}
.relative1 p{
    position: relative;
    bottom: 60%;
    z-index: 1;
}
/*7.*/
.container{
    border: groove 3px #950195;
}
.container>div{
    position: relative;
    border: solid 3px #950195;
    background-color: orange;
    padding: 20px;
    text-align: center;
    width: 80px;
    height: 30px;
    z-index: 1;
}
.img2{
    position: absolute;
    height: 50%;
    width: 70%;
    z-index: -1;
}
.topright{
    left: 87.6%;
    bottom: 76px;
}
.center{
    left: 45%;
}
.bottomright{
    left:87.6%;
}
.bottomleft{
    bottom: -76px;
}