 a, *,footer{
    font-family: 'FuzzyBubbles';
}
main,nav{
    width: 1024px;
    margin: 10px auto;
}
/*menu lateral*/
.column li{
    background-color: gray;
    margin: 3px 20px;
    padding: 6px;
    width: 200px;
}
.sidemenu{
    position: relative;
    max-width: 30%;
    display: inline-block;
    bottom: 550px;
}
/*Menu arriba*/
nav li{
    display: inline;
    margin: 50px 10px;
    font-size: 20px;
}
.topmenu{
    background-color: gray;
    padding: 30px  250px;
}

/*Cuerpo*/
.content{
    display: inline-block;
    width: 69%;
    margin: 10px 0px;
}
.header h1{
    border: 3px solid red;
    height: 30px;
    font-size: 25px;
    padding: 10px 0px;
    text-align: center;
}
h2{
    color:red;
    font-size: 20px;
    margin: 10px 0px;
}
footer{
    background-color: grey;
    text-align: center;
    padding: 10px 0px;
}
a{
    color: white;
}
.active:focus{
    border-bottom: 2px dotted red;
}